mat-toolbar {
    background: url('../assets/bg1.jpg');
    color: var(--sw-yellow);
    height: 40%;
    background-size: 100% 115%;
  // for fixed toolbar
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 2;

    mat-icon {
        font-size: 2em;
    }

     
    span {
        margin: auto;
        position:absolute;
        left: 4%;
        white-space: pre-wrap;
        line-height: 1;
        font-family: 'Star Jedi', arial, serif;
        font-weight: bold;
        font-size: 2em;
    }
}
.container {
    padding: 1rem;
}

